@media screen and (max-width: 600px) {
  #screen-desktop {
    display: none;
  }

  #screen-mobile {
    display: block;
  }

  .card {
    background-color: rgb(255, 255, 255);
    margin: 0 auto 20px auto;
    padding: 20px;
    width: 85%;
    box-shadow: 7px 7px  rgb(18, 18, 19);
  }

  .product-brand {
    margin-bottom: 5px;
    width: 100%;
  }

  .top-text {
    font-family: 'bold';
  }

  .value {
    font-family: 'regular';
  }
}